*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
/* bg */
.top-bg{
    width: 100%;
    height: 100px;
    background-color: rgb(0, 150, 136);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.full-bg{
    width: 100%;
    height: calc(100vh - 100px);
    background-color: rgb(218, 219, 212);
    position: absolute;
    top: 100px;
    left: 0;
    z-index: -1;
}

/* main */
.container{
    width: 80%;
    margin: auto;
    height: 95vh;
    margin-top: 2.5vh;
    display: flex;
}

/* left-cont */
.left-container{
    width: 485.5px;
    border-right: 1px solid rgb(223, 223, 223);
}

/* top-nav */
.user, .top-chat{
    height: 65px;
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

#user-icon{
    width: 50px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
}

.user-name{
    font-size: 14px;
    vertical-align: middle;
}

.nav-bar{
    padding-right: 12px;
}

.nav-bar > i{
    padding: 7px;
    font-size: 19px;
    color: rgb(177, 177, 177);
}

/* notifications */
.notifications{
    height: 70px;
    background-color: rgb(142, 218, 252);
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.notification-icon{

    padding: 13px;
    background-color: rgb(242, 251, 255);
    border-radius: 50%;
}

.notification-icon > i{
    vertical-align: middle;
    color: rgb(142, 218, 252);
}

.texts{
    padding-left: 7px;
}

.texts > p{
    font-size: 13px;
}

.texts > span{
    font-size: 12px;
    text-decoration: underline;
    color: rgb(108, 148, 164);
}

/* Search navbar */
.search-navbar{
    height: 50px;
    background-color: rgb(250, 250, 250);
    padding: 10px 15px;
}

.search-container{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(240, 240, 240);
}

.search-container label, .search-container input{
    height: 25px;
}

.search-icon{
    display: inline-block;
    width: 15%;
    border-right: 1px solid rgb(240, 240, 240);
    color: rgb(182, 185, 187);
    text-align: center;
    line-height: 25px;
}

.search-bar{
    width: calc(85% - 4px);
    border: none;
}

/* contacts-list */
.contacts-list{
    height: calc(100% - 65px - 70px - 50px);
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
}

.avatar{
    height: 75px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(240, 240, 240);
}

.avatar-icon{
    width: 55px;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
}

.avatar-name{
    padding-left: 5px;
    font-size: 14px;
}

/* rigth-cont */
.right-container{
    width: calc(100% - 485.5px);
}

/* top */
.name-last-acc-cont{
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.last-access{
    font-size: 12px;
    color: rgb(130, 127, 143);
    display: block;
}

.top-chat .avatar-icon{
    vertical-align: middle;
}

/* middle */
.msgs-container{
    height: calc(100% - 130px);
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}

/* bottom */
.send-msg-container{
    background-color: rgb(243, 238, 234);
}

.send-msg-nav{
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.send-msg-nav i{
    padding: 30px;
    font-size: 21px;
    color: rgb(107, 115, 118);
}

.send-msg-nav input{
    height: 50px;
    padding-left: 10px;
    width: calc(100% - 120px);
    border-radius: 10px;
    border: none;
}

/* debug */
.blu-bord{
    border: 1px solid blue;
}

.red-bord{
    border: 1px solid red;
}